{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

<!DOCTYPE html>

{% block html_tag %}
<html>
{% endblock html_tag %}

{% block head %}
<head>
    <meta charset="UTF-8" />
    {% block head_style %}
    {# Override this block to add your own files! #}
    {% stylesheets
        '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'
        '@HrefShortyBundle/Resources/public/less/*'
        '@HrefShortyBundle/Resources/public/css/*'
        filter='less'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
    {# To use this without less use the base_css.html.twig template as your base
     # Be sure you understand whats going on: have a look into
     # https://github.com/phiamo/MopaBootstrapBundle/blob/master/Resources/doc/css-vs-less.md
     #}
    {% endblock head_style %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head_script %}
    {# Overwrite this block to add your own js here, to get them generated into final files #}
    {% endblock head_script %}

    <title>{% block title %}HREF - URL shortener{% endblock title %}</title>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    {% block head_bottom %}
    {% endblock head_bottom %}
</head>
{% endblock head %}

{% block body_tag %}
<body data-spy="scroll">
{% endblock body_tag %}

{% block body_start %}
{% endblock body_start %}

{% block body %}

    <div class="container-fluid">

    <div class="page-header">
        {% block header %}
            <a href="{{ path('url_new') }}">
                <h1>HREFs<small> make 'em shorter</small></h1>
            </a>
        {% endblock %}
    </div>

    <section class="main">
        {% block main %}

        {% endblock %}
    </section>

    <div style="clear:both">&nbsp;</div>

    <footer class="row-fluid">
        {% block footer %}
            Made by <a href="https://github.com/andremaha">Andrey Esaulov</a>
        {% endblock %}
    </footer>

    </div>

    {% block foot_script %}
    {# To only use a subset or add more js overwrite and copy paste this block
    To speed up page loads save a copy of jQuery in your project and override this block to include the correct path
    Otherwise the regeneration is done on every load in dev more with use_controller: true
     #}

    <script type="text/javascript">
        {% image output="/images/stats-for-urls-big.png"
               '@HrefShortyBundle/Resources/public/images/stats-for-urls-big.png'
        %}
        var largePromoImage = "{{ asset_url }}";
        {% endimage %}
        console.log(largePromoImage);
    </script>

    {% javascripts
        'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'
        '@HrefShortyBundle/Resources/public/libs/*'
        '@MopaBootstrapBundle/Resources/public/js/*'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
        '@HrefShortyBundle/Resources/public/js/*'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}


        <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endblock foot_script %}
{% endblock body %}
</body>
</html>
