{% extends 'HrefShortyBundle::layout.html.twig' %}

{% block main %}
    <section class="raw-fluid">
        {% if last_urls is not empty %}
            <article class="span12">
                <header>
                    <h3>My last URLs</h3>
                </header>
                <section>
                    <ol class="top_urls">
                        {% for url in last_urls %}
                            <li><a href="{{ path('url_show', {'generated': url.generated, 'mode': 'stats'}) }}" title="{{ url('url_show', {'generated': url.generated, 'mode': 'stats'}) }}">{{ url('url_show', {'generated': url.generated})  }}</a>
                                <dl class="dl-horizontal">
                                    <dt>Link Target</dt>
                                    <dd><a class="original_url" href="{{ url.original }}">{{ url.original }}</a></dd>
                                    <dt>All-time Clicks</dt>
                                    <dd class="all_time_clicks">{{ url.stats.count|default(0) }}</dd>
                                    {% if url.stats is not null %}
                                        <dt>Last Click:</dt>
                                        <dd>{{ url.stats.updated|date("r") }}</dd>
                                    {% endif %}
                                </dl>
                            </li>
                        {% endfor %}
                    </ol>
                </section>
            </article>
            <article class="span12" id="container" style="width: 100%; height: 400px"></article>
        {% else %}
        <article class="span12">
            <header>
                <h3>Shorten URLs on the <a href="{{ path('url_new') }}">homepage</a> or with the <a href="{{ path('url_pages_bookmarklet') }}">bookmarklet</a> to see the statistics here.</h3>
            </header>
        </article>
        {% endif %}

    </section>

{% endblock main %}