{% extends 'HrefShortyBundle::layout.html.twig' %}

{% block main %}
    <section class="raw-fluid">
        {% if last_urls is not empty %}
            <article class="span3">
                <header>
                    <h3>My last URLs</h3>
                </header>
                <section>
                    <ol class="top_urls">
                        {% for url in last_urls %}
                            <li><a href="{{ path('url_show', {'generated': url.generated, 'mode': 'stats'}) }}" title="{{ url('url_show', {'generated': url.generated, 'mode': 'stats'}) }}">{{ url.original|slice(0,35) }}...</a><em class="hidden">{{ url.original }}</em><strong class="hidden">{{ url.stats.count|default(0) }}</strong></li>
                        {% endfor %}
                    </ol>
                </section>
            </article>
            <div class="span8" id="container" style="width: 100%; height: 400px"></div>
        {% else %}
        <article class="span12">
            <header>
                <h3>Shorten URLs on the <a href="{{ path('url_new') }}">homepage</a> or with the <a href="{{ path('url_pages_bookmarklet') }}">bookmarklet</a> to see the statistics here.</h3>
            </header>
        </article>
        {% endif %}

    </section>

{% endblock main %}