{% extends 'HrefShortyBundle::layout.html.twig' %}

{% block main %}

    <article class="hero-unit">
        <h1 class="hidden-phone">Generate new URL</h1>

            <form action="{{ path('url_new') }}" method="post" class="url_form" {{ form_enctype(form) }}>
                <p>
                    {{ form_errors(form.original) }}
                    {{ form_widget(form.original) }}
                </p>

                {{ form_rest(form) }}
                <button type="submit" class="btn btn-primary btn-large">Continue</button>
            </form>
    </article>


    <section class="raw-fluid">
            <article class="span3">
                <header>
                    <h3>Top 10 Domains</h3>
                </header>
                <section>
                    <ol>
                        {% for domain in top_domains %}
                            <li>{{ domain.name }}</li>
                        {% endfor %}
                    </ol>
                </section>
            </article>
            <article class="span3">
                <header>
                    <h3>Top 10 TLDs</h3>
                </header>
                <section>
                    <ol>
                        {% for tld in top_tlds %}
                            <li>{{ tld.name }}</li>
                        {% endfor %}
                    </ol>
                </section>
            </article>
            <article class="span3">
                <header>
                    <h3>Top 10 URLs</h3>
                </header>
                <section>
                    <ol>
                        {% for stat in top_stats %}
                            <li><a href="{{ path('url_show', {'generated': stat.url.generated, 'mode': 'stats'}) }}" title="{{ url('url_show', {'generated': stat.url.generated, 'mode': 'stats'}) }}">{{ stat.url.original|slice(0,35) }}...</a></li>
                        {% endfor %}
                    </ol>
                </section>
            </article>
    </section>
{% endblock %}