{% extends 'HrefShortyBundle::layout.html.twig' %}

{% block main %}
    <h1>Stats for Link  <a href="{{ url('url_show', {'generated': url.generated}) }}">{{ url('url_show', {'generated': url.generated}) }}</a></h1>

    <dl class="dl-horizontal">
        <dt>Link Target</dt>
        <dd><a href="{{ url.original }}">{{ url.original }}</a></dd>
        <dt>All-time Clicks</dt>
        <dd>{{ url.stats.count|default(0) }}</dd>
        {% if url.stats is not null %}
        <dt>Last Click:</dt>
        <dd>{{ url.stats.updated|date("r") }}</dd>
        {% endif %}
    </dl>
{% endblock %}