{% extends '::base.html.twig' %}

{% block title %}HREF - URL shortener{% endblock %}

{% block header %}
    <div class="row-fluid">
        <div class="span6">
        {{ parent() }}
        </div>

        <div class="span4 offset2">
            <ul class="nav nav-pills">
                <li>
                    <a href="{{ path('url_pages_bookmarklet') }}">Bookmarklet</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle"
                       data-toggle="dropdown"
                       href="#">
                        API
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('url_pages_tweetbot') }}">TweetBot</a></li>
                    </ul>
                </li>
                {% if is_granted('ROLE_USER') %}
                    <li class="dropdown">
                        <a class="dropdown-toggle"
                           data-toggle="dropdown"
                           href="#">
                            {{ app.user }}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('url_profile_links') }}">My Links</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="dropdown">
                        <a class="dropdown-toggle"
                           data-toggle="dropdown"
                           href="#">
                            Log In
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('fos_user_security_login') }}">Log In</a></li>
                            <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock header %}